h1{
  font-family: Lato;
  text-align: center;

}
* {
  background-color: aliceblue;
}
h2 {
  background-color: gray;
  border-radius: 3em;
  padding-left: 15px;
  color: white;
  text-decoration: underline;
}

body {
  width: auto;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 0 2px 5px 0;
  border: 5px solid black;
}

p {
  color: darkblue;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.encabezado{
  color: black;
  text-align-last: right;
}